@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* outline: 1px black solid; */
  margin: 0;
  padding: 0;
  color: #333;
}

::selection {
  background: rgba(0,230,184,.2);
}

a {
  display: inline-block;
}

a,
button {
  text-decoration: none;
  transition: all 0.25s ease-in;
}

a:hover {
  transform: scale(1.075);
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

li {
  list-style: none;
}