.main {
  text-align: center;
  padding-top: 8.25rem;
  max-width: 960px;
  margin: auto;
}

.header {
  margin-bottom: 4.5rem;
  h1 {
    font: {
      weight: 900;
      size: 4rem;
    }
    letter-spacing: -0.035em;
    word-spacing: 0.1em;
    span {
      color: #04ddb2;
    }
  }
  p {
    max-width: 35rem;
    margin: 0.4rem auto 0;
    line-height: 2.25rem;
    font: {
      size: 1.5rem;
      weight: 500;
    }
  }
}

.tourVideoPreviewImage {
  width: 100%;
  border-radius: 1.5rem;
  transition: all 0.4s ease;
}

.tourVideoPreviewImage:hover {
  transform: scale(1.01);
  filter: drop-shadow(0px 40px 30px rgb(0 0 0 / 0.15));
  cursor: pointer;
}

.tourVideoContainer {
  position: fixed;
  z-index: 20;
  padding: 15%;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  background-color: rgba($color: #000, $alpha: 0.6);
  button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: transparent;
    svg {
      stroke: #bbb;
    }
  }
  div {
    position: relative;
    padding-bottom: 62.4375%;
    width: 100%;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
}

.downloadSection {
  h2 {
    max-width: 35rem;
    margin: 5.8rem auto 0;
    line-height: 4.2rem;
    font: {
      size: 3.8rem;
      weight: 900;
    }
  }
  button {
    margin-top: 3.2rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1700px) {
  .main {
    max-width: 1150px;
  }

  .header {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.9rem;
      line-height: 3rem;
      max-width: 45rem;
    }
  }

  .downloadSection {
    margin-top: 8rem;
    h2 {
      line-height: 5.375rem;
      font-size: 4.875rem;
    }
    button {
      font-size: 1.45rem;
      padding: 1rem 2.7rem 1rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main {
    max-width: 840px;
    padding-top: 6.875rem;
    padding-right: 3.875rem;
    padding-left: 3.875rem;
  }

  .header {
    margin-bottom: 4rem;
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.375rem;
      max-width: 30rem;
      margin-top: 0.3rem;
      line-height: 2.15rem;
    }
  }

  .tourVideoContainer {
    padding: 7%;
  }

  .downloadSection {
    h2 {
      max-width: 30rem;
      font-size: 3.4rem;
      line-height: 3.75rem;
      margin-top: 4.5rem;
    }
  }
}

@media screen and (max-width: 650px) {
  .main {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .header {
    h1 {
      font-size: 2.25rem;
    }
    p {
      max-width: 25rem;
      font-size: 1.05rem;
      line-height: 1.5rem;
    }
  }
  
  .tourVideoContainer {
    padding: 3%;
  }

  .downloadSection {
    h2 {
      max-width: 20rem;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-top: 3rem;
    }
    button {
      margin-top: 2.1rem;
      font-size: 1.075rem;
      padding: 0.6rem 1.85rem 0.675rem;
    }
  }
}
