.main {
  text-align: center;
  padding-top: 8.25rem;
  max-width: 960px;
  margin: auto;
}

.header {
  h1 {
    font: {
      weight: 900;
      size: 4rem;
    }
    letter-spacing: -0.035em;
    word-spacing: 0.1em;
    span {
      color: #04ddb2;
    }
  }
  p {
    max-width: 35rem;
    margin: 0.4rem auto 0;
    line-height: 2.25rem;
    font: {
      size: 1.5rem;
      weight: 500;
    }
  }
}

.previewVideoImage {
  margin-top: 4.5rem;
  width: 100%;
  border-radius: 1.5rem;
  transition: all 0.4s ease;
}

.previewVideoImage:hover {
  transform: scale(1.01);
  filter: drop-shadow(0px 40px 30px rgb(0 0 0 / 0.15));
  cursor: pointer;
}

.hidden {
  display: none;
}

.introductionVideoContainer {
  position: fixed;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  background-color: rgba($color: #000, $alpha: 0.6);
  button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: transparent;
    svg {
      stroke: #bbb;
    }
  }
  iframe {
    border-radius: 20px;
  }
}

@mixin downloadButton {
  background-color: #04ddb2;
  border-radius: 9999px;
  padding: 0.7rem 2.3rem 0.75rem;
  font: {
    size: 1.125rem;
    weight: 800;
  }
  color: white;
}

.downloadSection {
  p {
    max-width: 35rem;
    margin: 5.8rem auto 0;
    line-height: 4.2rem;
    font: {
      size: 3.8rem;
      weight: 900;
    }
  }
  button {
    @include downloadButton;
    margin-top: 3.2rem;
    font-size: 1.2rem;
  }
}
