@import "Home.module";

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  background-color: rgba($color: #fff, $alpha: 0.8);
  .logo a:hover {
    transform: scale(1);
  }
}

.allItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  max-width: 1300px;
  button {
    @include downloadButton;
    padding: {
      right: 1.4rem;
      left: 1.4rem;
    }
  }
}

.navItems {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-left: 3rem;

  li {
    a {
      font: {
        weight: 600;
        size: 1.125rem;
      }
      color: #767676;
    }
    a.currentPage {
      color: #333;
    }
    a:hover {
      color: #333;
    }
  }
}


