.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  background-color: rgba($color: #fff, $alpha: 0.8);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  max-width: 1300px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  li {
    a {
      font: {
        weight: 600;
        size: 1.125rem;
      }
      color: #767676;
    }
  }
}

.downloadButton {
  font: {
    size: 1.125rem;
    weight: 700;
  }
  color: white;
  padding: {
    right: 1.4rem;
    left: 1.4rem;
  }
}
